#boxes {
    content: "";
    display: table;
    clear: both;
  }
  
  div {
    float: left;
    height: 470px;
    width: 30%;
    padding: 0 10px;
  }
  
  #column1 {
    background-color: #f1f1f1;
  }
  
  #column2 {
    background-color: #fff;
    width: 43%;
    border: 1px solid;
  }
  
  #column3 {
    background-color: #fff;
    border: 1px solid orange;
    width: 30%;
  }
  
  h2 {
    color: #000000;
    text-align: center;
  }